* {
    font-family: Arial, serif;
}
h1, a, li {
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    transition: all 0.5s ease 0s;
}
h2 {
    color: #303030;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    transition: all 0.5s ease 0s;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
    border-left: #FFAA00;
    border-left-style: solid;
    border-left-width: thick;
    /*margin-right: 0.5em;*/
    /*border-right: #FFAA00;*/
    /*border-right-style: solid;*/
    /*border-right-width: thick;*/
    max-height: 3em;
}
.navBar-link:hover {
    color: #FFAA00 ;
}
.nav-content {
    list-style: none;
}
.nav-content li {
    display: inline-block;
    padding: 0 1em;
}
.sidenav {
    color: #FFAA00 ;
    position: fixed;
    float: left;
    margin-left: -2em;
    margin-top: 4em;
    padding-left: 2em;
}
.about_box {
    padding-top: 0.01em;
    padding-left: 5px;
    /*padding-bottom: 5px;*/
    /*height: 50px;*/
    /*width: 30%;*/
    margin-right: 20em;
    /*margin-left: 6em;*/
    background-color: orange;
}
.portfolio_box {
    padding-top: 0.01em;
    padding-left: 5px;
    padding-bottom: 5px;
    /*height: 50px;*/
    /*width: 30%;*/
    margin-right: 20em;
    /*margin-left: 6em;*/
    background-color: orange;
}
.experiences_box {
     padding-top: 0.01em;
     padding-left: 5px;
     padding-bottom: 5px;
     /*height: 50px;*/
     /*width: 30%;*/
     margin-right: 20em;
     /*margin-left: 6em;*/
     background-color: orange;
 }
.resume_box {
    padding-top: 0.01em;
    padding-left: 5px;
    /*padding-bottom: 5px;*/
    /*height: 50px;*/
    /*width: 30%;*/
    margin-right: 20em;
    /*margin-left: 6em;*/
    background-color: orange;
}
.embed-list {
    list-style-type: none;
}
.box-link:hover {
    color: #303030;
}

main {
    margin-top: 3em;
    margin-left: 10em;
/*    This margin will change once animation added */
}